<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= food.name %></title>
    <link rel="stylesheet" href="/front-end/food.css">
</head>
<body>
    <div id="cursor"></div>
    <div id="main">
        <div id="box">
            <div class="image">
                <img src="<%= food.image %>" alt="<%= food.name %>">
            </div>
            <div class="details">
                <h1><%= food.name %></h1>
                <p><%= food.about %></p>
                <div class="nutrition">
                    <div>Taste: <%= food.taste %></div>
                    <div>Calories: <%= food.calories %></div>
                    <div>Protein: <%= food.protein %></div>
                    <div>Carbs: <%= food.carbs %></div>
                    <div>Fat: <%= food.fat %></div>
                    <div>Fiber: <%= food.fiber %></div>
                    <div>Sugar: <%= food.sugar %></div>
                </div>
                <a href="/Search"><button id="showAlert" title="Search">Search More</button></a>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/back-end/food.js"></script>
</body>
</html>